/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Carter+One&family=Rubik+Moonrocks&display=swap');



$font-Atma: 'Atma', sans-serif;
$font-Carter: 'Carter One', sans-serif;
$font-Rubik: 'Rubik Moonrocks', sans-serif;

$bg-color-RR: rgb(133, 163, 133);
$font-color-RR: rgb(70, 84, 90);
$button-color: rgb(184, 131, 63);
$bg-detail-color-RR: rgba(133, 163, 133, 0.534);

// html, body { height: 100%; }
// body { margin: 0;}
