<div class="about">
    <h1 class="about__title">RivasRocks</h1>
    <article class="about__article">
        <h3 class="about__subtitle">
            ¡Bienvenido a nuestra asociación dedicada a la pasión por la montaña en Rivas Vaciamadrid! Somos un grupo apasionado de amantes de la aventura y la naturaleza que se ha unido para compartir experiencias únicas y emocionantes.
        </h3>
        <img class="about__img" src="../../../../assets/images/paisaje-montañas.jpg" alt="RivasRocks">
        <div class="about__card">
            <h2 class="about__subtitle">Nuestra Misión</h2>
            <p>
                En nuestra asociación, nos esforzamos por fomentar la conexión con la naturaleza y promover un estilo de vida activo y saludable. Nos enorgullece ofrecer una variedad de actividades de montaña para todas las edades y niveles de habilidad.
            </p>
        </div>
        <div class="abouy__card">
            <h2 class="about__subtitle">Actividades destacadas</h2>
            <div class="about__activities">
                <div class="about__subcard">
                    <h3 class="about__subsubtitle">Escalada</h3>
                    <p>
                        Experimenta la emoción de desafiar alturas y superar obstáculos en nuestras emocionantes sesiones de escalada. Ya seas principiante o experto, nuestras actividades están diseñadas para adaptarse a todos los niveles.
                    </p>
                </div>
                <div class="about__subcard">
                    <h3 class="about__subsubtitle">Alpinismo</h3>
                    <p>
                        Embárcate en emocionantes aventuras alpinas mientras exploras las majestuosas montañas que rodean Rivas Vaciamadrid. Nuestros guías expertos te llevarán a lugares increíbles.
                    </p>
                </div>
                <div class="about__subcard">
                    <h3 class="about__subsubtitle">Senderismo</h3>
                    <p>
                        Descubre la belleza natural de Rivas Vaciamadrid a través de nuestras rutas de senderismo cuidadosamente seleccionadas. Desde caminatas relajadas hasta desafíos más intensos, hay algo para todos.
                    </p>
                </div>
                <div class="about__subcard">
                    <h3 class="about__subsubtitle">Mountain bike</h3>
                    <p>
                        Si eres un entusiasta de las dos ruedas, únete a nuestras rutas de mountain bike y explora senderos panorámicos y emocionantes descensos.
                    </p>
                </div>
                <div class="about__subcard">
                    <h3 class="about__subsubtitle">Vías Ferratas</h3>
                    <p>
                        Atrévete con nuestras rutas de vía ferrata y experimenta la mezcla perfecta de escalada y senderismo. ¡Una experiencia inolvidable!
                    </p>
                </div>
            </div>
        </div>
        <div class="about__card">
            <h2 class="about__subtitle">Nuestros valores</h2>
            <p>
                En RivasRocks, nos esforzamos por ofrecer experiencias de montaña de la más alta calidad. Nuestros guías expertos están dedicados a brindarle una experiencia segura y agradable.
            </p>
            <p>
                Nuestros valores fundamentales son:
            </p>
            <ul class="about__list">
                <li>Seguridad</li>
                <li>Calidad</li>
                <li>Respeto</li>
                <li>Compromiso</li>
                <li>Responsabilidad</li>
            </ul>
        </div>
        <div class="about__card">
            <h2 class="about__subtitle">Compromiso con la seguridad</h2>
            <p>
                La seguridad de nuestros participantes es nuestra máxima prioridad. Contamos con guías certificados y seguimos estrictos estándares de seguridad en todas nuestras actividades.
            </p>
            <img class="about__img" src="../../../../assets/images/cuerda-dinamica.jpg" alt="aseguración de escalada">
        </div>
    </article>
</div>
