<div class="contact">
    <h1 class="contact__title">Contacta con nosotros</h1>
    <p>¿Tienes alguna pregunta? ¿Quieres saber más sobre nuestras actividades? ¡No dudes en contactarnos!<br>Para obtener más información sobre nuestras actividades y cómo unirte, contáctanos en:</p>
    <div class="contact__card">
        <ul class="contact__list">
            <li><mat-icon class="contact__icon"> phone</mat-icon><b>Teléfono</b>     +34 677489915</li>
            <li><mat-icon class="contact__icon"> email</mat-icon><b>Email</b>     rivasrocksbuzon@gmail.com</li>
            <li><img src="../../../../assets/images/icons/instagram.svg" clas="contact__icon"><b> Redes Sociales</b>     @rivas_rocks</li>
        </ul> 
        <p>¡Esperamos verte en nuestras próximas aventuras!</p>
    </div>
</div>

